@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.all{
    font-family: 'NEXON Lv2 Gothic';
    /* display: grid; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*상단 메뉴*/
.top-menu {
    font-family: 'NEXON Lv2 Gothic';
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    gap: 150px;
}
.left-text {
    display: flex;
    align-items: center;
    gap: 50px;
}
.profile {
    display: flex;
    align-items: center;
    gap: 8px; 
}
.profile-image {
    display: flex;
    gap: 8px; 
    align-items: center;
}
.image, .image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.name {
    font-size: 24px;
    font-weight: bold;
}
.sub-name {
    font-size: 18px;
    color: rgb(76, 76, 76);
    margin-left: 3px; 
}
.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 180px;
    height: 100px;
    object-fit: contain;
}
.right-text {
    display: flex;
    align-items: center;
    gap: 50px; 
}
.center, .first-text, .login-text {
    font-weight: bold;
}
.first-text, .login-text, .center{
    color: #dbdbdb;
}

/*중 하단 공통*/
.mid-menu, .bot-menu{
    font-family: 'NEXON Lv2 Gothic';
    margin: auto;
    width: 1500px;
}
input[type=checkbox]{
    display: none;
}
.mid-menu label, .bot-menu label  {
    font-size: 30pt;
    color: #0008BA;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    position: relative;
  }
label::after, label::before{
    content: "";
    height: 3.5px;
    flex: 1;
    background-color: #0008BA;
    margin: 0 10px;
}
/* .game-menu-text, .service-menu-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
    padding: 0 15px;
}
input[type="checkbox"]:checked ~ .game-menu-text,
input[type="checkbox"]:checked ~ .service-menu-text {
  max-height: 1980px; 
  padding: 15px;
} */

/*중단 메뉴*/
.game-line{
    margin-top: 30px;
}
.game-menu-text{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 180px;
    color: #4c4c4c;
    /* box-shadow: 0 10px 20px #dbdbdb; */
    border-radius: 20px;
}
.game-menu-text div{
    padding-bottom: 30px;
}
.game-menu-text h3{
    font-weight: 800;
    font-size: 18pt;
    padding-bottom: 13px;
}
.game-menu-text li{
    padding-bottom: 8px;
    color: #dbdbdb;
}

/*하단 메뉴*/
.service-menu-text{
    margin-top: 20px;
    display: flex;
    gap: 150px;
    justify-content: center;
    color: #4c4c4c;
    /* box-shadow: 0 10px 20px #dbdbdb; */
    border-radius: 20px;
}
.s li{
    padding-bottom: 8px;
    font-weight: lighter;
    color: #dbdbdb;
}
.s h3{
    font-weight: 800;
    font-size: 18pt;
    padding: 10px 0 13px 0;
    color: #4c4c4c;
}

/*푸터*/
footer{
    background-color: #eaf2ff;
    
}
.footer-category-text{
    display: flex;
    padding-bottom: 13px;
}
.footer-category-text a{
    text-decoration: none;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 10pt;
}

.one, .two{
    gap: 15px;
    padding: 10px 10px 15px 0px;
}
.footer-imformation-text{
    font-size: 8pt;
    color: #4c4c4c;
    line-height: 15px;
    font-weight: 500;
    font-size: 8pt;
}
.copy-text{
    color: #4c4c4c;
    font-weight: 700;
    margin-top: 10px;
    font-size: 8pt;
}
.footer-logo-image, .footer-logo-image img{
    width: 100px; height: 80px;
    object-fit: contain;
}
.footer-category-text, .footer-imformation-text, .copy-text,.footer-logo-image{
    margin-left: 13px;
}

.footer-text-top{
    display: flex;
    justify-content: space-between;
}

/*hover*/
.center:hover, .first-text:hover, .login-text:hover{
    transform: scale(1.2);
    transition: all 0s;
    color: #4c4c4c;
    cursor: pointer;
}
/* input[type=checkbox]:hover{
    color: #0008BA;
}
label:hover{
    color: #0008BA;
}
label:hover::before,
label:hover::after {
    background-color: #0008BA; 
} */
h3:hover, li:hover{
    cursor: pointer;
}
/*h3:hover{
    padding-bottom: 13px;
    background:linear-gradient(180deg,rgba(255,255,255,0) 85%, #0008BA 70%)
}*/
li:hover{
    color: #0008BA;
    font-weight: 800;
    transform: scale(1.2);
    transition: all 0.3s;
}

label.active {
    color: #0008BA;
  }
  
  label.active::before,
  label.active::after {
    background-color: #0008BA;
  }

.one a:hover, .two a:hover{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}
